---
import { getEntry, type CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon/components'

interface Props {
    item: CollectionEntry<'grid'>,
    order?: string,
    id?: string,
}

const { item, order='1', id='' } = Astro.props;
const entry:CollectionEntry<'grid'> = await getEntry('grid', item.slug);
const { Content } = await entry.render();

let twSpan:string = `custom-span-${item.data.span}`;
let twOrder:string = `custom-order-${order}`;
---

<div id={id} class:list={['flex flex-col gap-4 p-4 brutalist-outline-accent bg-primary-50 dark:bg-primary-950', twOrder, twSpan]}>
    <div class="flex-0 flex items-center gap-2 text-primary-950">
        <Icon name={item.data.icon} class="flex-0 text-xl text-accent"/>
        <h2 class="flex-1 text-xl font-header font-bold text-accent">{item.data.title}</h2>
    </div>
    <div class="flex-1 prose max-w-none dark:prose-invert">
        <Content />
    </div>
</div>

<style define:vars={{ twOrder }}>
    .custom-span-1 {
        @apply col-span-1 md:col-span-1
    }

    .custom-span-2 {
        @apply col-span-1 md:col-span-2
    }

    .custom-span-3 {
        @apply col-span-1 md:col-span-3
    }

    .custom-order-1 {
        @apply order-1
    }

    .custom-order-2 {
        @apply order-2
    }

    .custom-order-3 {
        @apply order-3
    }
</style>
