---
import { Icon } from 'astro-icon';
import ThemeToggle from './ThemeToggle.astro';

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
	{ label: '/work', href: '/work' },
];

/** Icon links to social media */
const iconLinks: { label: string; href: string; icon: string }[] = [
	{ label: 'Twitter', href: 'https://twitter.com/kaischuyler', icon: 'bx:bxl-twitter' },
	{ label: 'GitHub', href: 'https://github.com/kaischuygon', icon: 'bx:bxl-github' },
	{ label: 'LinkedIn', href: 'https://www.linkedin.com/in/kaischuyler', icon: 'bx:bxl-linkedin' },
];
---

<nav class="flex h-full justify-start items-center p-4 font-header">
	<div class="flex-1 flex gap-4">
		<a aria-current={Astro.url.pathname === "/"} 
			class:list={[
			"flex-0 text-slate-400 hover:brightness-75",
				{
					active:
						Astro.url.pathname === "/"
				},
			]}
			href="/">
			<Icon name="bx:bx-wind" class="h-6 inline" />
		</a>
		{
			textLinks.map(({ label, href }) => (
				<a aria-current={Astro.url.pathname === href} 
					class:list={[
					"flex-0 text-slate-400 hover:brightness-75",
						{
							active:
								Astro.url.pathname === href ||
								(href !== '/' && Astro.url.pathname.startsWith(href)),
						},
					]}
					href={href}>
					{label}
				</a>
			))
		}
	</div>
	<div class="flex-0 flex gap-4 mr-2">
		{
			iconLinks.map(({ href, icon, label }) => (
				<a href={href} target="_blank">
					<span class="sr-only">{label}</span>
					<Icon name={icon} class="w-6 hover:brightness-75" />
				</a>
			))
		}
	</div>

	<ThemeToggle class="flex-0"/>
</nav>

<style>
	.active {
		@apply text-fuchsia-400;
	}
</style>
