---
import ThemeToggle from './ThemeToggle.astro';
import ColorSwitch from './ColorSwitch.astro';
import { Icon } from 'astro-icon/components';

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
	{ label: '/about', href: '/about' },
	{ label: '/work', href: '/work' },
	{ label: '/blog', href: '/blog' },
	// { label: '/recipes', href: '/recipes' },
];

/** Icon links to social media */
const iconLinks: { label: string; href: string; icon: string }[] = [
	{ label: 'GitHub', href: 'https://github.com/kaischuygon', icon: 'bx:bxl-github' },
	{ label: 'LinkedIn', href: 'https://www.linkedin.com/in/kaischuyler', icon: 'bx:bxl-linkedin' },
	{ label: 'Bluesky', href: 'https://bsky.app/profile/kaischuyler.com', icon: 'bsky'},
	{ label: 'Twitter', href: 'https://twitter.com/kaischuyler', icon: 'bx:bxl-twitter' },
];
---

<nav class="p-4 font-code gap-4 flex w-full justify-between flex-wrap h-min">
	<div class="flex justify-center items-center gap-4">
		<a aria-current={Astro.url.pathname === "/"} 
			class:list={[
			"flex-0 text-primary-400 dark:text-primary-600 hover:brightness-75",
				{
					active:
						Astro.url.pathname === "/"
				},
			]}
			href="/">
			<Icon name="wind" class="text-xl inline text-inherit" />
		</a>
		{
			textLinks.map(({ label, href }) => (
				<a aria-current={Astro.url.pathname === href} 
					class:list={[
					"flex-0 text-primary-400 dark:text-primary-600 hover:brightness-75",
						{
							active:
								Astro.url.pathname === href ||
								(href !== '/' && Astro.url.pathname.startsWith(href)),
						},
					]}
				href={href}>
					{label}
				</a>
			))
		}
	</div>
	<div class="flex-1"/>
	<div class="flex justify-center items-center gap-4">
		{
			iconLinks.map(({ href, icon, label }) => (
				<a href={href} target="_blank" title={label}>
					<span class="sr-only">{label}</span>
					<Icon name={icon} class="text-xl hover:brightness-75" />
				</a>
			))
		}
	</div>
	<div class="flex justify-center items-center h-full gap-4">
		<ThemeToggle class="flex-0"/>
		<ColorSwitch class="flex-0" />
	</div>
</nav>

<style>
	.active {
		@apply text-accent;
	}
</style>
